.parent-container {
    height: 1000px;
    width: 50%;
    margin: 0 auto;

}

.header-page, .order-info, .product-list {
    display: flex;
    justify-content: space-between;
}

.header-page {
    height: 70px;
}

.person h1, .person h3{
    margin: 0;
    margin-left: 280px;

}

.person h3 {
    color: grey;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;

}

.customer-info, .order-info, .product-list, .header-page {
    border: 1px solid rgb(208, 199, 189);
    margin: 10px 0px;
    padding: 10px 20px;
}

.customer-info p {
    margin: 10px 0px;
    display: block;
}

.order-info {
    background-color: rgb(231, 224, 224);
}

.check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-box label {
    height: 25px;
    width: 25px;

}

img {
    width: 100px;
    height: 100px;
}

.about {
    width: 80%;
    text-align: left;
}

.about h3, .about p {
    margin: 0px;
}

.box {
    display: inline-block;
    width: 33%;
}

