.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* *********************************************************************** */

.App {
  text-align: center;
  /* border: 1px solid black; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 3%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(175, 31, 31); */
}
.profile {
  border-radius: 7px;
}
.title h1 {
  color: rgb(24, 197, 240);
  text-align: left;
  width: 100px;
}
.profile-info {
  margin: 5px;
}
.profile-info label {
  font-size: 11px;
  color: rgba(155, 137, 137, 0.911);
  display: block;
  text-align: left;
  width: 100px;
}
.profile-info strong {
  display: block;
  text-align: left;
}
